@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import 'swiper/swiper-bundle.css';

* {
  font-family: "Inter", sans-serif;
}

.font-lato {
  font-family: "Lato", sans-serif;
}

.card-container {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.card {
  width: 389px;
  height: 712px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  background-color: #fff;
  overflow: hidden;
}

.card h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.card ul {
  list-style: none;
  padding: 0;
}

.card ul li {
  font-size: 16px;
  margin-bottom: 8px;
  line-height: 1.5;
}
.shadow-light{
  box-shadow: 5px 7px 19px -5px #00000026;
}
.parent-card :hover svg path{
  fill: #173EAD;
}
.parent-card :hover .month{
  color: white !important;
}
.parent-card :hover .sub-heading{
  color: white !important;
}